<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leand.tig164_beardeddragon">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SCHEMAPP"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:label="CALENDAR"
            android:name=".Calendar.CalendarActivity"></activity>
        <activity
            android:label="CONTACTS"
            android:name=".Contacts.ContactsActivity"/>

        <activity
            android:label="CHECK IN"
            android:name=".CheckIn.CheckInActivity"></activity>
        <activity android:name=".CheckIn.CheckedInActivity"></activity>
        <activity android:name=".CheckIn.CheckedInLogActivity"></activity>
        <activity
            android:name=".Calendar.CalendarPopupActivity"
            android:theme="@style/AppTheme.PopupTheme"/>

    </application>

</manifest>